<% if @post.errors.any? %>
  <div class="alert alert-error">
    <p>
      <h5><%=alert%></h5>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%=msg %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>